@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(0deg, #00f, #f00);
}

h1, h2 {
  font-family: "Lora", serif;
  letter-spacing: 5px;
  color: white;
  background-color: black;
  border: 5px solid white;
  border-radius: 5%;
  box-shadow: 10px 10px;
}

div {
  background-color: white;
  color: black;
  border: 5px solid black;
  border-radius: 2px;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

nav {
  display: grid;
  gap: 10%;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 20%;
}

nav a {
  color: white;
  background-color: #111111;
  border: 5px black solid;
}
